# Logging
LOG_PATH=logs

# Single image validation
IMAGE_PATH=sample_images
OUTPUT_IMAGE_PATH=output_images
DETECTOR_TYPE=orb
MASK_MODE=ellipse
MASK_CENTER_X_RATIO=0.5
MASK_CENTER_Y_RATIO=0.5
MASK_RADIUS_RATIO=0.35
MASK_RADIUS_X_RATIO=0.45
MASK_RADIUS_Y_RATIO=0.35
ORB_NFEATURES=500
ORB_SCALE_FACTOR=1.2
ORB_NLEVELS=8
ORB_FAST_THRESHOLD=20
ORB_EDGE_THRESHOLD=31
SIFT_NFEATURES=0
SIFT_CONTRAST_THRESHOLD=0.04
SIFT_EDGE_THRESHOLD=10
SIFT_SIGMA=1.6

# S3
S3_BUCKET=noseid-prod

# Database
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_INSTANCE_CONNECTION_NAME=
