# Logging
LOG_PATH=logs

# App mode
APP_MODE=image_keypoint
# image_keypoint / db_fetch_latest / batch_prepare_keypoints
BATCH_DRY_RUN=true

# Single image validation
IMAGE_PATH=sample_images
OUTPUT_IMAGE_PATH=output_images
DETECTOR_TYPE=orb
MASK_MODE=ellipse
MASK_CENTER_X_RATIO=0.5
MASK_CENTER_Y_RATIO=0.5
MASK_RADIUS_RATIO=0.35
MASK_RADIUS_X_RATIO=0.45
MASK_RADIUS_Y_RATIO=0.35
ORB_NFEATURES=2000
ORB_SCALE_FACTOR=1.2
ORB_NLEVELS=8
ORB_EDGE_THRESHOLD=31
ORB_FIRST_LEVEL=0
ORB_WTA_K=2
ORB_SCORE_TYPE=HARRIS_SCORE
ORB_PATCH_SIZE=31
ORB_FAST_THRESHOLD=20
SIFT_NFEATURES=0
SIFT_CONTRAST_THRESHOLD=0.04
SIFT_EDGE_THRESHOLD=10
SIFT_SIGMA=1.6

# S3
AWS_PROFILE=
S3_BUCKET=noseid-prod

# Database
DB_CONNECTION_TYPE=public_ip
DB_HOST=172.18.0.1
DB_PORT=5432
DB_NAME=paws-api
DB_USER=postgres
DB_PASSWORD=
DB_SCHEMA=public
DB_REGISTRATION_TABLE=nose_registrations
DB_SOURCE_TABLE=nose_images
DB_UPDATE_TABLE=nose_image_quality
DB_FETCH_LIMIT=
DB_UPDATE_APP_VERSION=
DB_INSTANCE_CONNECTION_NAME=noseid-d8f00:asia-northeast1:paws-api
